body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #efefef;
}
*, *::before, *::after {
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
.canvas {
  position: relative;
  z-index: 3;
}
.canvas-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto 100px;
  box-sizing: content-box;
  border: 2px solid #ccc;
  width: 450px;
}
.canvas-wrap::before {
  content: 'It is canvas, \A here will be your image, \A canvas will be set to an image width and height';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  max-height: 100%;
  max-width: 100%;
  white-space: pre;
}
.canvas-wrap.set::before {
  display: none;
}

.image {
  position: relative;
}
.image-choose {
  border: 2px dashed #ccc;
  width: 100%;
  height: calc(100% + 63px);
  top: 0;
  left: 0;
  position: absolute;
  font-family: Arial;
}
.image-choose p {
  margin-bottom: 30px;
}

.image-data {
  text-align: left;
  width: 550px;
  margin: 0;
  padding-top: 40px;
  display: flex;
}
.image-data--title {
  /* text-align: center; */
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0;
}

.image-data--subtitle {
  font-size: 17px;
  display: flex;
  align-items: center;
}
.image-data--info {
  padding-left: 50px;
}
.image-data--info > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  line-height: 20px;
}
.image-data span {
  padding: 0 10px
}
.image-data--composition {
  width: 100px;
  height: 100px;
  border: 2px solid #23a6d5;
  background-color: #a7e8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
.image-data--width, .image-data--height {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  height: 20px;
  width: 100%;
}
.image-data--width {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, 0);
}
.image-data--height {
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translate(30px, 0%) rotate( 90deg );
  transform-origin: 0% 0%;
  width: 100%;
}
.image-data--arrow {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #a7e8ff;
}
.image-data--arrow::before,
.image-data--arrow::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  right: 0;
  top: -2.5px;
  border-top: 2px solid #a7e8ff;
  border-right: 2px solid #a7e8ff;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.image-data--arrow::after {
  left: 0;
  transform: rotate(225deg);
  transform-origin: 50% 50%;
}
.image-data--subtitle {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.image-data--subtitle code {
  padding: 3px 10px;
  margin-right: 5px;
}

.title {
  margin: 30px 0 20px;
  text-transform: uppercase;
}

.button {
  font-size: 13px;
  display: inline-block;
  border: 2px solid #23a6d5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  text-transform: uppercase;
  max-width: 140px;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
}
.button-white {
  background-color: #fff;
  transition: background-color .2s ease, color .2s ease
}
.button:disabled {
  opacity: 0.3;
}
label.button {
  font-weight: bold;
}
.button:hover {
  background: #ddd;
}
.button-white:hover {
  background-color: #23a6d5;
  color: #fff;
}
.file-input {
  display: none;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-choose--overlay, .image-choose--start {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .3s ease, border .3s ease;
}
.image-choose--start {
  flex-direction: column;
}

.image-choose--start h4 {
  color: #fff;
  font-weight: 400;
  display: block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: auto;
  margin: 0;
}
.image-choose--overlay.is-active, .image-choose--start.is-active {
  pointer-events: auto;
  opacity: 1;
}
.image-choose--overlay::before {
  content: '';
  position: relative;
  width: 60px;
  height: 3px;
  background-color: #fff;
}
.image-choose--overlay::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60px;
  background-color: #fff;
}

/* --------------  SAMPLE and RESET ------------------- */

.sample {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-top: 20px;
  height: 111px;
}
.sample > span {
  display: block;
  white-space: pre;
  position: absolute;
  left: 80px;
  top: 0;
  
}
.samples--label span span {
  display: inline-block;
  width: 90px;
}
/* --------------  SAMPLES ------------------- */
.samples {
  display: flex;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.samples--label {
  position: relative;
  margin-right: 3px;
  font-size: 12px;
}
.samples--label span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #a7e8ff;
  transition: background 0.2s ease;
  padding: 10px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.samples--input:hover + span {
  cursor: pointer;
  background-color: #84d8f6;
}
.samples--input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.samples--input:checked + span {
  cursor: pointer;
  background-color: #23a6d5;
  color: #fff;
}
code {
  color: #fff;
  font-weight: bold;
}
code .b1 {
  color: #f6d52f;
}
code .b2 {
  color: #805abc;
}
code .r {
  color: #985757;
}
code .n {
  color: #c08f64;
  font-weight: bold;
}
code .g {
  color: #6EBA7D;
}
code > span {
  padding: 5px 6px;
  background-color: #282c34;
  display: inline-block;
}
code em {
  color: #adadad;
  background-color: #282c34;
  padding: 5px 6px;
  display: inline-block;
  font-weight: normal;
}
/* --------------  THUMBS ------------------- */
.controls--thumbs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
.controls--thumbs span {
  width: 30px;
  height: 30px;
  background-color: #a7e8ff;
  border: 1px solid #23a6d5;
  position: absolute;
  left: -15px;
  top: -12.5px;
}
.controls--thumbs span:nth-child(2) {
  left: auto;
  right: -15px;
}
/* --------------  CONTROLS ------------------- */
.controls {
  margin-bottom: 40px;
  width: 550px;
  margin: 0 auto 40px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.controls--buttons {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}
.controls--title {
  width: 25px;
}
.controls--label {
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.controls--inputs {
  flex-grow: 1;
  position: relative;
  height: 4px;
  background-color: #ccc;
}
.controls--title {
  padding-right: 10px;
}
.controls--item {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.controls--item.disabled {
  /* position: relative;
  display: flex;
  margin-bottom: 30px; */
  /* pointer-events: none; */
}
.controls--item.disabled::before {
  content: '';
  background-color: rgba(239, 239, 239, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.controls--value-left {
  margin-right: 17px;
}
.controls--value-right {
  margin-left: 17px;
}
.controls--value-left,
.controls--value-right {
  padding: 2px;
  width: 40px;
  height: 30px;
  border: 2px solid #23a6d5;
  color: #004056;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls--track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23a6d5;
  z-index: 0;
}
/* --------------  INPUTS ------------------- */
input[type=range] {
  margin: 0;
  background: none; /* get rid of white Chrome background */
  /* color: black; */
  color: transparent;
  /* color: rgba(10, 10, 10, 0.4); */
  font: inherit; /* fix too small font-size in both Chrome & Firefox */
  pointer-events: none;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  right: 0;
}
.controls--input::-webkit-slider-thumb,
.controls--input.left::-webkit-slider-thumb {
  top: -13px;
}
.controls--input::-webkit-slider-thumb {
  /* top: 5px; */
  left: 15px
}
.controls--input.left::-webkit-slider-thumb {
  /* top: -30px; */
  left: -15px
}
.controls--input.left {
  left: 0;
}
input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb, input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type=range]::-webkit-slider-thumb {
  border: none;
  position: relative; /* get rid of Firefox thumb border */
  width: 30px;
  height: 30px;
  border-radius: 0; /* get rid of Firefox corner rounding */
  background: currentcolor;
  pointer-events: auto;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border: none; /* get rid of Firefox thumb border */
  width: 30px;
  height: 30px;
  border-radius: 0; /* get rid of Firefox corner rounding */
  background: currentcolor;
  pointer-events: auto;
}
/* --------------  ERROR ------------------- */
.error {
  position: absolute;
  z-index: 10;
  width: 400px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  opacity: 0;
  transition: 0.3s ease;
}
.error::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transition: transform 10s ease;
  transform-origin: 0 0;
  transform: scale(0, 1);
  background-color: #d9534f;
}
.error.is-active::before {
  transform: scale(1, 1)
}
.error.is-active {
  opacity: 1;
}

.danger {
  background-color: rgb(243 223 222);
}

.danger strong:nth-of-type(1) {
  color: #d9534f;
}
.danger strong:nth-of-type(2) {
  color: green;
}